<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Estaciona fácil</title>
</head>

<body>
    <section class="altura-15">
    </section>
    <section class="altura-70 row">
        <section class="col-lg-6 box-login">
            <header class="d-flex justify-content-center mt-3">
                <h1>Login</h1>
            </header>

                <form *ngIf="!baseService.exibeLoad" [formGroup]="loginForm" #formDir="ngForm"
                    (ngSubmit)="loginSubmit()" class="mt-3 h-50 w-75 mx-auto">

                    <mat-form-field appearance="fill" class="d-flex justify-content-center">
                        <mat-label>Digite seu e-mail</mat-label>
                        <input matInput [(ngModel)]="email" formControlName="email" required>
                        <mat-error>E-mail inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="d-flex justify-content-center">
                        <mat-label>Digite sua senha</mat-label>
                        <input matInput [type]="exibeSenha ? 'text' : 'password'" [(ngModel)]="senha"
                            formControlName="senha" required>
                        <button type="button" mat-icon-button matSuffix (click)="exibeSenha = !exibeSenha"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="exibeSenha">
                            <mat-icon>{{exibeSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error>Senha inválida</mat-error>
                    </mat-form-field>

                    <section class="row bg">
                        <mat-checkbox appearance="fill" color="primary"
                            class="col-6 d-flex justify-content-start">Lembrar
                            senha</mat-checkbox>
                        <a class="col-6 d-flex justify-content-end mt-2" href="cadastro">Cadastre-se</a>
                    </section>

                    <footer class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary w-50 mb-3">Entrar</button>
                    </footer>
                </form>

                <span *ngIf="baseService.exibeLoad" class="d-flex justify-content-center mt-5">
                    <mat-spinner></mat-spinner>
                </span>
        </section>

        <section class="col-lg-6 box-info">
            <header>
                <h1 class="mt-3 d-flex justify-content-center">Estacionar nunca foi tão fácil!</h1>
                <h2 class="d-flex justify-content-center"><i>Encontre vagas disponíveis perto de você em poucos
                        cliques!</i></h2>
            </header>

            <article class="mt-2">
                <p>
                    Atualmente, encontrar uma vaga de estacionamento pode ser uma tarefa muito difícil para os
                    condutores. Muitas vezes, as cidades são lotadas de carros e não existem mais vagas disponíveis.
                    Isso significa que os condutores têm que estacionar seus carros em outros lugares,
                    como estacionamentos privados, que podem ser caros.
                    Uma solução para esse problema é o Estaciona Fácil,
                    um site que ajuda os condutores a encontrar vagas de estacionamento de forma automática.
                    O site permite que os condutores pesquisem por vagas de estacionamento em seu bairro ou em outro
                    lugar
                    e exibe todas as vagas disponíveis, além de fornecer informações sobre o valor da vaga, o tempo
                    limite para estacionar e outras informações úteis. Assim, os condutores podem encontrar facilmente
                    uma vaga de
                    estacionamento adequada, economizando tempo e dinheiro.
                </p>
            </article>
        </section>

    </section>
    <section class="altura-15">
    </section>

</body>

</html>